.background__img {
  width: 100%;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  max-width: 1280px;
  min-width: 350px;
  padding: 22px 14px 64px 14px;
  background-color: #f6f6f6;
}

.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 50px 50px 0 0;
  padding: 35px 24px 0 14px;
}

.menu-header__title {
  font-size: 2.5rem;
  font-family: 'Shrikhand', cursive;
  font-weight: normal;
  margin: 0;
}

.submenu-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 14px;
  grid-column-gap: 5px;
  margin-bottom: 15px;
  padding-top: 35px;
}

.submenu {
  width: 100%;
  margin-bottom: 24px;
}

.submenu__categories {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 16px;
}

.submenu__categories:after {
  content: "";
  width: 40px;
  height: 2px;
  display: block;
  background-color: #99e2d0;
  margin-top: 4px;
}

.submenu-item-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 14px;
  grid-column-gap: 5px;
}

.submenu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 64px;
  padding: 13px 24px 13px 13px;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 16px -6px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 16px -6px rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-animation-name: delay;
          animation-name: delay;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  overflow: hidden;
}

.submenu-item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  width: calc(100% - 100px);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.submenu-item__title {
  width: 100%;
  font-size: 1.6rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}

.submenu-item__description {
  width: 100%;
  font-size: 1.4rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}

.submenu-item__price {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: right;
  width: 100px;
}

.submenu-item__confirmation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 64px;
  background-color: #99E2D0;
  position: absolute;
  top: 0;
  right: -64px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 3;
}

.submenu-item__icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2rem;
  width: 2rem;
  background-color: #fff;
  border-radius: 100px;
  color: #99E2D0;
}

.submenu-item:hover .submenu-item__confirmation {
  right: 0;
}

.submenu-item:hover .submenu-item__header {
  width: calc(100% - 164px);
}

.submenu-item:hover .submenu-item__icon {
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.submenu-item--delay1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.submenu-item--delay2 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.submenu-item--delay3 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.submenu-item--delay4 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.submenu-item--delay5 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.submenu-item--delay6 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.submenu-item--delay7 {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.submenu-item--delay8 {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.submenu-item--delay9 {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.submenu-item--delay10 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes delay {
  0% {
    opacity: 0;
    -webkit-transform: translateY(75%) scale(0);
            transform: translateY(75%) scale(0);
  }
  50% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%) scale(1);
            transform: translateY(0%) scale(1);
  }
}

@keyframes delay {
  0% {
    opacity: 0;
    -webkit-transform: translateY(75%) scale(0);
            transform: translateY(75%) scale(0);
  }
  50% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%) scale(1);
            transform: translateY(0%) scale(1);
  }
}

@media screen and (min-width: 1200px) {
  .submenu-container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 25px;
    grid-column-gap: 20px;
    margin-bottom: 15px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 340px;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.container__loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(245, 235, 235, 0.9);
  -webkit-animation: loader 1s ease 2.5s;
          animation: loader 1s ease 2.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  z-index: 1000;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.loader .loader__circle, .loader .loader__circle div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 100%;
  border: 8px solid #9356DC;
}

.loader .loader__circle:after, .loader .loader__circle div:after {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  border: 8px solid transparent;
  border-top-color: #fff;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

.loader .loader__circle div {
  width: calc((100px / 100) * 70);
  height: calc((100px / 100) * 70);
}

.loader .loader__circle div:after {
  animation: spin 1s linear infinite reverse;
}

.loader p {
  font-size: 4.5rem;
  color: rgba(57, 27, 230, 0.8);
  margin-top: 0;
  margin-bottom: 20px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 70px;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  padding: 0 24px;
  font-family: 'Shrikhand', cursive;
  color: black;
}

.header__logo {
  font-size: 2.6rem;
  margin: 0;
}

.header__icon {
  width: 20px;
  font-size: 1.8rem;
  color: #000000;
}

.header--navigation {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header--navigation:after {
  content: '';
  width: 20px;
}

.container {
  width: 100%;
  max-width: 1280px;
}

.situation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  padding: 0 13px;
  background-color: #eaeaea;
}

.situation__text {
  font-size: 1.6rem;
  font-weight: bold;
}

.situation i {
  font-size: 1.6rem;
  margin-right: 16px;
}

.promotion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f6f6f6;
  padding: 34px 13px 42px 13px;
}

.promotion--title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}

.promotion__subtitle {
  width: 100%;
  font-size: 1.6rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
  margin-top: 0;
  margin-bottom: 28px;
}

.main-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 42px;
  border-radius: 100px;
  padding: 0 18px;
  background-color: #686868;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.9)), to(rgba(255, 121, 218, 0.9)));
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  border: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.main-button:hover {
  background-color: #fff;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.tutoriel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 100%;
  padding: 21px;
  counter-reset: step;
}

.tutoriel__title {
  font-size: 2rem;
  font-weight: bold;
}

.tutoriel__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding-left: 11px;
}

.tutoriel__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 64px;
  width: 100%;
  min-width: 280px;
  border-radius: 15px;
  background: #f6f6f6;
  -webkit-box-shadow: 4px 4px 16px -6px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 16px -6px rgba(0, 0, 0, 0.2);
  padding: 0 34px;
  margin-bottom: 26px;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-size: 1.4rem;
  font-weight: bold;
}

.tutoriel__list-item:before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: -11px;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background-color: #9356DC;
  font-size: 1rem;
  font-weight: 700;
  color: #FFFFFF;
}

.tutoriel__list-item--step-1::before {
  content: counter(step);
  counter-increment: step;
}

.tutoriel__list-item--step-2::before {
  content: counter(step);
  counter-increment: step;
}

.tutoriel__list-item--step-3::before {
  content: counter(step);
  counter-increment: step;
}

.tutoriel__list-item i {
  width: 20px;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 10px;
}

.tutoriel__list-item:first-of-type i {
  font-size: 1.6rem;
}

.tutoriel__list-item:hover {
  background-color: #f5edff;
}

.tutoriel__list-item:hover i {
  color: #9356DC;
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 100%;
  padding: 21px;
  background-color: #f6f6f6;
}

.restaurants__title {
  font-size: 2rem;
  font-weight: bold;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 260px;
  width: 100%;
  border-radius: 25px;
  -webkit-box-shadow: 4px 4px 16px -6px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 16px -6px rgba(0, 0, 0, 0.2);
  margin-bottom: 22px;
  text-decoration: none;
}

.card__main {
  height: 70%;
  width: 100%;
  position: relative;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  overflow: hidden;
}

.card__main img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  position: absolute;
  top: 16px;
  right: 14px;
  background-color: #99e2d0;
  font-weight: 500;
  color: #008765;
  padding: 0 13px;
  border-radius: 2px;
}

.card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  padding: 0 18px 0 13px;
}

.card__title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #000000;
  margin: 0;
}

.card__subtitle {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.75);
  margin: 0;
}

.heart {
  position: relative;
  width: 24px;
  height: 24px;
}

.heart__item {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.heart__item i {
  font-size: 24px;
}

.heart__item--empty {
  opacity: 1;
  color: #000000;
}

.heart__item--full {
  opacity: 0;
  background: -webkit-gradient(linear, right top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart:hover .heart__item--empty {
  opacity: 0;
}

.heart:hover .heart__item--full {
  opacity: 1;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  padding: 20px 20px 26px 20px;
  background-color: #353535;
}

.footer__container {
  width: 1280px;
  margin: auto;
}

.footer__logo {
  font-size: 1.8rem;
  font-family: 'Shrikhand', cursive;
  font-weight: normal;
  color: #FFF;
  margin-top: 0;
  margin-bottom: 16px;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin-bottom: 4px;
}

.footer__link {
  color: #FFF;
  text-decoration: none;
}

.footer__icon {
  width: 14px;
  font-size: 1.2rem;
  margin-right: 6px;
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (min-width: 950px) {
  .card-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .card-container .card {
    width: calc(50% - 12px);
  }
  .tutoriel__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tutoriel__list-item {
    width: calc((100% / 3) - 16px);
  }
}
/*# sourceMappingURL=style.css.map */